{% extends 'base.html.twig' %}

{% block title %}
    Test list
{% endblock %}
{% block body %}
    <h1>Test list</h1>
    {% if data is defined and data|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th scope="col">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.tags|join(', ') }}</td>
                    <td>
                        <a href="{{ url('test_view', {"id": item.id}) }}" title="{{ 'action.view'|trans }}">view</a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>
            Empty list.
        </p>
    {% endif %}

{% endblock  %}